{{ SUBMARINE_HADOOP_HOME }}/bin/yarn jar {{ HADOOP_YARN_SUBMARINE_JAR }} \
  job run \
  --name {{ JOB_NAME }} \
  --env DOCKER_JAVA_HOME=/opt/java \
  --env DOCKER_HADOOP_HDFS_HOME=/hadoop-3.1.0 \
  --env YARN_CONTAINER_RUNTIME_DOCKER_CONTAINER_NETWORK={{ DOCKER_CONTAINER_NETWORK }} \
  --input_path {{ TF_INPUT_PATH }} \
  --checkpoint_path {{ TF_CHECKPOINT_PATH }} \
  --num_ps {{ TF_PARAMETER_SERVICES_NUM }} \
  --ps_docker_image {{ TF_PARAMETER_SERVICES_DOCKER_IMAGE }} \
  --ps_resources memory={{ TF_PARAMETER_SERVICES_MEMORY }},vcores={{ TF_PARAMETER_SERVICES_CPU }},gpu={{ TF_PARAMETER_SERVICES_GPU }} \
  --ps_launch_cmd "{{ TF_PS_LAUNCH_CMD }}" \
  --worker_docker_image {{ TF_WORKER_SERVICES_DOCKER_IMAGE }} \
  --worker_resources memory={{ TF_WORKER_SERVICES_MEMORY }},vcores={{ TF_WORKER_SERVICES_CPU }},gpu={{ TF_WORKER_SERVICES_GPU }} \
  --num_workers {{ TF_WORKER_SERVICES_NUM }} \
  --worker_launch_cmd "{{ TF_WORKER_LAUNCH_CMD }}" \
  --verbose